<div class="container">
    <h1>Selamat Datang Di Website Ini</h1>
    <p>Website Ini untuk mengelola pengguna Wisata Kolam Renang.</p>
    <a href="/user-view" class="btn btn-primary">Go to Data Page</a>
</div>